a,
a:active,
a:hover,
a:visited {
    color: white;
    }
a:hover {
    text-decoration: none;
    }

div#page_wrapper {
    margin: 0px auto;
    position: relative;
    text-align: left;
    width: 960px;
    }

div#content_wrapper {
    background: white;
    color: #444444;
    padding: 1em 2em;
    }
    div#content_wrapper a,
    div#content_wrapper a:active,
    div#content_wrapper a:hover,
    div#content_wrapper a:visited {
        color: #ad0068;
        }

footer {
    }
    footer ul {
        }
        footer ul li {
            }
            footer ul li a {
                }

header {
    padding: 1em 0px;
    }
    header h1 {
        border-bottom: 1px solid #eb008d;
        margin: 0px;
        }
        header h1 a {
            text-decoration: none;
            }

html {
    background: #444444;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }

nav {
    }
    nav ul {
        font-size: 110%;
        margin: 0px 1em 1em;
        }
        nav ul li {
            display: inline-block;
            margin: 0px 1em;
            }
            nav ul li a {
                }
            nav ul li a:hover {
                }

